<%- include ("partials/header") %>

<div class="ui main text container segment">
  <div class="ui top attached">
    <div class="item">
      <div class="image">
        <img class="ui centered rounded image" src="<%=blog.image%>" alt="" />
      </div>
      <div class="ui header"><%= blog.title %></div>
      <div class="content">
        <span><%= blog.created.toDateString() %></span>
      </div>
      <div class="description">
        <p><em>Submitted by <%= blog.author.username %></em></p>
      </div>
      <div class="description">
        <p><%- blog.body %></p>
        <!-- The "-", is because it takes whatever "blog.body" 
          returned and evaluates it, instead of displaying the string.
          So, if we bold it with "<strong></strong>", it works  -->
      </div>
      <% if(currentUser && blog.author.id.equals(currentUser._id)) { %>
      <a class="ui green basic button" href="/blogs/<%= blog._id %>/edit"
        >Edit</a
      >
      <form
        id="delete"
        action="/blogs/<%= blog._id %>?_method=DELETE"
        method="POST"
      >
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <!-- "blog" we get it from the database, using "findById" -->
        <button class="ui red basic button">Delete</button>
      </form>
      <% } %>
    </div>
  </div>
</div>

<%- include ("partials/footer") %>
